.aihuacitollbar {
	position:absolute;
	top:0;
	left:0;
	height:39px;
	padding-left:6px;
	background:url(black/l.gif) no-repeat 0 9px;
	z-index:1000000000;
	display:none
}
.aihuacitollbar div {
	height:10px;
	overflow:hidden;
	width:100%;
	background:url(black/aup.gif) no-repeat;
	position:absolute;
	top:0;
	left:20px;
	z-index:0
}
.aihuacitollbar ul {
	background:url(black/r.gif) no-repeat right 9px;
	padding:0;
	padding-top:9px;
	padding-right:5px;
	height:31px;
	float:left;
	margin:0;
	list-style:none;
	text-align:center
}
.aihuacitollbar li {
	float:left;
	background:url(black/bg.gif) no-repeat right 0;
	padding:0 5px;
	width:28px;
	list-style:none;
	height:31px;
	text-align:center
}
.aihuacitollbar li img {
	display:none
}
.aihuacitollbar li button {
	background:none;
	display:block;
	font-size:12px;
	line-height:29px;
	margin:0;
	padding:0;
	border:0 none;
	color:#fff;
	font-family:\5b8b \4f53;
	font-weight:bold;
	width:28px
}
.aihuacitollbar li button::-moz-focus-inner {
	border:0 none;
	padding:0;
	margin:0
}
