html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td{
	padding:0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color:#0F0F0F;
}
img,body,html{border:none;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
li{ float:left;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
p{ line-height:160%;}
button{border: 1px solid #87A2C0;}
input[type="text"] {height:30px; line-height:30px;border:solid 1px #ABB4A4; color:#0F1600; float:left; padding-left:10px; width:470px;}   
input[type="password"] { border:solid 1px #bcc5d0; height:20px; line-height:20px;}   
input[type="submit"] {border:solid 1px #ABB4A4; line-height:30px; height:30px; float:left; margin-left:3px; font-size:14px; width:55px; margin-top:1px;}  
input[type="reset"] {border:solid 1px #999; line-height:20px;}  
input[type="button"] {border:solid 1px #999; line-height:20px;color:#d3d1ab;}  
input[type="select"] {border:solid 1px #ABB4A4;}  

textarea{border:solid 1px #bcc5d0; line-height:20px;margin-left:3px; margin-right:3px;} 
select{border:solid 1px #999; line-height:20px;}
html,body {background-color:#F2F1E3;}
body {font-family: 宋体,Arial, Helvetica;font-size: 12px;line-height:22px;margin: 0px;background-attachment:fixed;}
span{ line-height:16px;}
a{color:#19537D;text-decoration: none; line-height:16px;}
a:hover {text-decoration:underline;}


.main1{width:100%; clear:both; background-color:#D1CFA9; height:100px;}
.main1 .cont{width:960px; clear:both; margin-left:auto; margin-right:auto;}
.main1 .cont .left{ width:260px; float:left; clear:left; margin-top:17px;}
.main1 .cont .right{ width:685px; float:right; clear:right;}
.main1 .cont .right .son1{ clear:both; height:35px; margin-top:10px;}
.main1 .cont .right .son1 span{ height:35px; line-height:35px; float:left; margin-left:5px;}
.main1 .cont .right .son1 a{ font-size:15px; float:left; line-height:35px; height:35px; margin-left:15px; color:#0F1600;}
.main1 .cont .right .son1 a:hover{ color:#504321;}
.main1 .cont .right .son1 img{ float:left; margin-left:15px;}
.main1 .cont .right .son2{ clear:both; height:45px; margin-top:10px;}

.main2{width:100%; clear:both; background-color:#E6E5C9; border-top:1px solid #8D9B82; border-bottom:1px solid #E0DEDE; height:35px;}
.main2 .cont{width:960px; clear:both; height:25px; margin-left:auto; margin-right:auto; margin-top:10px;}
.main2 .cont a{ float:left; margin-right:40px;}

.main3{ width:960px; clear:both; margin-left:auto; margin-right:auto; margin-top:20px; overflow:hidden;}

.main3 .searchleft{width:70px; float:left; clear:left;}
.main3 .searchleft a{ width:65px; height:20px; line-height:20px; float:left; clear:both;  text-align:center; margin-bottom:10px;}
.main3 .searchleft a:hover{color:#FFFFFF;background-image:url(/img/seachimg.jpg); background-repeat:no-repeat;}

.main3 .left{ width:605px; clear:left; float:left;}
.main3 .left .son1{ clear:both; height:34px; line-height:34px; font-size:22px; border-bottom:1px solid #D2D0D0; margin-bottom:20px;}
.main3 .left .sons{ clear:both; border-bottom:1px dashed #E0DEDE; margin-bottom:20px;overflow:hidden;}
.main3 .left .sons p{ margin-bottom:5px;}
.main3 .left .sons img{ float:left; margin-right:15px;}

.main3 .left .pages{clear:both; height:24px;}
.main3 .left .pages a{ float:left; margin-left:5px; line-height:22px; height:22px; width:22px; border:1px solid #E0DEDE; text-align:center;}
.main3 .left .pages a:hover{ background-color:#EBEBEB; text-decoration:none;}
.main3 .left .pages span{ line-height:22px; height:22px;margin-left:20px; float:left; margin-top:1px;}

/* 分类筛选 */
.main3 .typeleft{ width:605px; clear:left; float:left;}
.main3 .typeleft .son1{ clear:both; height:34px; line-height:34px; font-size:22px; border-bottom:1px solid #D2D0D0; margin-left:-1px;}
.main3 .typeleft .son2{ width:605px; clear:both; border-bottom:1px dashed #D2D0D0; margin-top:5px; overflow:hidden; padding-bottom:5px;}
.main3 .typeleft .son2 .sleft{ width:35px; float:left; color:#275F38;}
.main3 .typeleft .son2 .sleft span{ float:left; margin-top:10px;}
.main3 .typeleft .son2 .sright{ width:560px; float:left;}
.main3 .typeleft .son2 .sright a{ float:left;margin-top:10px; width:40px;}
.main3 .typeleft .son2 .sright span{float:left;margin-top:10px; width:40px; color:#B00815;}
.main3 .typeleft .son2 .sright2{ width:10px; float:right; margin-top:5px;}
.main3 .typeleft .son2 .sright2 img{cursor:pointer;}
.main3 .typeleft .sons{ clear:both; border-bottom:1px dashed #E0DEDE; margin-bottom:20px;overflow:hidden; height:auto;}
.main3 .typeleft .sons p{ margin-bottom:5px;}
.main3 .typeleft .sons img{ float:left; margin-right:15px;}

.main3 .typeleft .pages{clear:both; height:24px;}
.main3 .typeleft .pages a{ float:left; margin-left:5px; line-height:22px; height:22px; width:22px; border:1px solid #E0DEDE; text-align:center;}
.main3 .typeleft .pages a:hover{ background-color:#EBEBEB; text-decoration:none;}
.main3 .typeleft .pages span{ line-height:22px; height:22px;margin-left:20px; float:left; margin-top:1px;}


.main3 .leftlei{ width:605px; clear:left; float:left;}
.main3 .leftlei .son1{ clear:both; height:34px; line-height:34px; font-size:24px; color:#606060; border-bottom:1px solid #D2D0D0; margin-left:-1px;}
.main3 .leftlei .son2{ clear:both; margin-top:10px; height:40px;}
.main3 .leftlei .son2 a{ height:20px; line-height:20px; font-size:14px;}
.main3 .leftlei .son2 span{width:200px; color:#19537D; float:left;height:20px; line-height:20px; margin-top:4px;}
.main3 .leftlei .fenxiang{ clear:both; height:30px; margin-top:10px; margin-left:-3px;}

.main3 .xieleft{ width:605px; clear:left; float:left;}
.main3 .xieleft .sontitle{clear:both; height:34px; line-height:34px; border-bottom:1px solid #E0DEDE;}
.main3 .xieleft .sontitle span{ float:left; margin-top:4px;}
.main3 .xieleft .soncont{ clear:both; overflow:auto;}

.main3 .shileft{ width:605px; clear:left; float:left;}
.main3 .shileft .son1{ clear:both; height:34px; line-height:34px; font-size:24px; color:#606060; margin-left:-1px;}
.main3 .shileft .son2{ clear:both; margin-top:10px; overflow:auto; font-size:14px; line-height:200%;}
.main3 .shileft .son2 p{ margin-top:10px; margin-bottom:10px; line-height:200%;}

/*bookv内容*/
.main3 .shileft .bookvson2{ clear:both; margin-top:10px; overflow:auto; font-size:14px; line-height:200%;}
.main3 .shileft .bookvson2 p{margin-top:10px; margin-bottom:10px; line-height:200%;}


.main3 .shileft .shangxicont{ clear:both; margin-top:10px; line-height:200%; font-size:14px;}
.main3 .shileft .shangxicont p{margin-top:10px; margin-bottom:10px; line-height:200%;}
.main3 .shileft .shangxicont .youorno{ clear:both; width:605px;float:left; margin-top:10px; height:35px; border-bottom:1px dashed #E0DEDE; line-height:35px; font-size:12px;overflow:hidden; }


.main3 .shileft .son2 span{ color:#606060;}
.main3 .shileft .son2 .pingfen{ width:160px; height:120px; float:right; margin-left:10px; margin-bottom:10px; font-size:12px;}
.main3 .shileft .son2 .pingfen .line1{ clear:both; height:20px; color:#606060;}
.main3 .shileft .son2 .pingfen .line1 span{ color:Red;}
.main3 .shileft .son2 .pingfen .line2{ clear:both; height:86px; background-image:url(/img/fenban.gif); background-repeat:no-repeat; margin-top:4px;}
.main3 .shileft .son2 .pingfen .line2 .lright{ clear:both; width:110px; float:right;}
.main3 .shileft .son2 .pingfen .line2 .lright .tiao{ clear:both; height:14px; margin-top:3px; background-color:#F1CCB1;}
.main3 .shileft .son3{ clear:both; height:32px; margin-top:10px;}
.main3 .shileft .son3 .left{ float:left; width:175px; height:30px; margin-top:2px; clear:left;}
.main3 .shileft .son3 .left a{ float:left; margin-top:4px;}
.main3 .shileft .son3 .share{height:30px; float:left; width:55px;}
.main3 .shileft .son3 .center{ height:30px; width:40px; float:left; text-align:right; margin-top:2px;}
.main3 .shileft .son3 .center span{ line-height:16px; float:right; margin-top:5px;}
.main3 .shileft .son3 .right{float:left; width:110px; height:16px; margin-top:3px; height:30px; clear:right;}
.main3 .shileft .son3 .right img{ float:left; cursor:pointer; margin-top:2px;}
.main3 .shileft .son3 .right span{ float:left; color:#B00815; margin-top:4px; margin-left:4px;}

.main3 .shileft .bookvmiddle{ clear:both; height:32px; margin-top:10px; padding-left:197px;}
.main3 .shileft .bookvmiddle a{ float:left; line-height:22px; height:22px; width:55px; border:1px solid #E0DEDE; text-align:center; margin-left:10px;}
.main3 .shileft .bookvmiddle a:hover{ background-color:#EBEBEB; text-decoration:none;}

.main3 .shileft .son4{ clear:both; height:30px; margin-top:15px; border-bottom:1px dashed #E0DEDE;}
.main3 .shileft .son4 span{ float:left; background-color:#71A9D3; color:#FFFFFF; width:60px; height:20px; line-height:20px; text-align:center;}
.main3 .shileft .son4 a{ float:right; margin-top:2px;}
.main3 .shileft .son5{ clear:both; border-bottom:1px dashed #E0DEDE; padding-top:15px;padding-bottom:10px;}
.main3 .shileft .son5 a{ font-size:14px;}

.main3 .shileft .bookcont{ clear:both; margin-top:10px; border-bottom:1px dashed #E0DEDE;overflow:hidden; padding-bottom:5px;float:left; width:605px;}
.main3 .shileft .bookcont .bookMl{ clear:both; font-size:14px; color:#343434;}
.main3 .shileft .bookcont span{ width:151px; background-image:url(/guwen/imgs/bookdoc.jpg); background-repeat:no-repeat; background-position:left center; margin-top:10px;float:left;}
.main3 .shileft .bookcont a{ margin-left:10px; font-size:14px;}

.main3 .right{ width:336px; clear:right; float:right;}
.main3 .right .sontitle{ width:336px; clear:both; height:34px; line-height:34px; border-bottom:1px solid #E0DEDE; font-size:14px; color:#275F38;}
.main3 .right .soncont{ clear:both;overflow:hidden;}
.main3 .right .soncont a{ float:left; width:40px; margin-top:8px;}

.main3 .right .shisoncont{ clear:both; font-size:14px; line-height:200%;}
.main3 .right .shisoncont p{ line-height:200%;margin-top:10px; margin-bottom:10px;}
.main3 .right .shisoncont .line{ clear:both; border-bottom:1px dashed #E0DEDE; margin-top:10px; color:#676767; height:20px; line-height:20px; font-size:12px;}

.main3 .right .shisonconttag{ clear:both;margin-top:2px; border-bottom:1px solid #E0DEDE; padding-bottom:10px; margin-bottom:10px;overflow:auto;}
.main3 .right .shisonconttag a{background-color:#D3E1EC; padding:2px 5px 2px 5px; margin-right:2px; height:22px; line-height:22px;}
.main3 .right .shisonconttag a:hover{ text-decoration:none; background-color:#E3ECF3;}

.main3 .right .newmingju{ clear:both; height:auto; margin-top:10px;  margin-bottom:10px; background-color:#EBEAD8;font-size:18px; padding:5px;}
.main3 .right .newmingju a{ height:18px; line-height:18px;}

.main3 .right .soncont2{ clear:both;overflow:hidden;position:relative; float:left;}
.main3 .right .soncont2 a{ float:left; width:40px; margin-top:8px;}

.main4{clear:both; text-align:center; border-top:1px dashed #E0DEDE; width:960px; margin-left:auto; margin-right:auto;}



/*ajax搜索*/
#box {
	width:540px;
	margin-top:-12px;
	background:#fff;
	z-index:1;
	position:absolute;
	overflow:hidden;
	border:1px #ABB4A4 solid;
	display:none;
}
a:focus {
    outline:none;hidefocus;
}
.neibox {width:540px; clear:both; background-color:#F6F5EC;}
.neibox .main{clear:both; width:540px; margin-left:auto; margin-right:auto; border-bottom:1px #DEE1DC solid;overflow:hidden;}
.neibox .main .mleft{width:39px; float:left; clear:left; }
.neibox .main .mleft span{ float:left;height:30px; line-height:30px; margin-left:7px; color:#676767;}
.neibox .main .mright{width:500px; float:left; clear:right; background-color:#FBFAF6; border-left:1px #DEE1DC solid;}
.neibox .main .mright .adiv{height:30px;width:500px; clear:both;overflow:hidden;}
.neibox .main .mright a{height:30px; line-height:30px; float:left;  font-size:14px; color:#0F0F0F; margin-left:10px; width:490px;}
.neibox .main .mright a:hover{text-decoration:none;}
.neibox .main .mright span{height:30px; line-height:30px; color:#676767;}